.purple{
    background-color: rgb(194, 143, 241);
}

.red{
    background-color: rgb(224, 113, 136);
}

.green{
    background-color: rgb(105, 202, 105);
}

.yellow{
    background-color: darkkhaki;
}

.blue{
    background-color: rgb(157, 157, 230);
}

.transpearent{
    background-color: transparent;
}