.green{
    background-color: darkolivegreen;
}

.pink{
    background-color: lightcoral;
}

.gray{
    background-color:gray;
}

.blue{
    background-color: darkcyan;
}

.transparent{
    background-color: transparent;
}