.green{
    background-color: darkolivegreen;
}

.fuggypink{
    background-color: lightcoral;
}

.gray{
    background-color:gray;
}

.blue{
    background-color: darkcyan;
}

.transparent{
    background-color: transparent;
}

.md-fuggypink{
    background-color: lightcoral;
}

.md-blue{
    background-color: darkcyan;
}

.md-gray{
    background-color: gray;
}